template< typename Element, size_t D >
Field< Element, D > &Field< Element, D >::shift(size_t const &along, Base::Direction dir)
{
  isolate();
  d_weave->fieldShift(along, dir, d_field);
  return *this;
}

//  NOTE
//  convention:
// numbers = data, positions
// dir == Base::dir_UP   => 0,1,2,3,4 -> 1,2,3,4,0
// dir == Base::dir_DOWN => 0,1,2,3,4 -> 4,0,1,2,3
// ALSO: CHECK ORDERING... FORTRAN POISON IS EVERYWHERE!
