template < size_t D >
Weave< D > &Weave< D >::operator=(Weave< D > const &other)
{
  if (&other == this)
    return *this;

  d_dims = other.d_dims;
  d_surf = other.d_surf;
  d_off = other.d_off;

  return *this;
}
