template < size_t D >
size_t Weave< D >::physEvenOddIdx(size_t const index, bool const odd) const
{
  DimArray coord = (DimArray::Constant(2 * index) / d_surf.head(D));
  for (size_t idx = 0; idx < D; ++idx)
    coord.coeffRef(idx) = coord.coeff(idx) % d_dims.coeff(idx);
  int isOdd = coord.tail(D-1).sum() % 2;
  if ((odd && !isOdd) || (!odd && isOdd))
    coord.coeffRef(0) += 1;
  return coordToIndex(coord);
}
